<h1>Current Blog Posts</h1>

<div class="row">
	<% @blog_posts.each do |x| %>
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<%= link_to x.title, x %>
				</div>
				<div class="panel-body">
					by <%= x.author %><br>
					<p><i>Created: <%= blog_post.created_at.strftime('%m/%d/%Y at %I:%M%p') %></i></p>
					<p> <%= truncate x.blog_entry, length: 50 %> </p>
					<p> <% if x.blog_entry.size > 50 %><%= link_to "(Read More)", x %> </p>
					<% end %>
				</div>
				<div class="panel-footer">
					<%= link_to "Show", blog_post_path(x), class: "btn btn-info" %>
					<%= link_to "Edit", edit_blog_post_path(x), class: "btn btn-warning" %>
					<%= link_to "Destroy", blog_post_path(x), method: :delete, data: { confirm: "Are you sure?"}, class: "btn btn-danger" %>
				</div>
			</div>
		</div>
	<% end %>
</div>

<%= link_to "New Blog Post", new_blog_post_path, class: "btn btn-success" %>